.card-title {
  font-size: 36px;
  text-align: left;
}
#current-time {
  text-align: left;
}
#temperature-converter {
  text-align: left;
}
#icon {
  margin: 0 auto;
}
.form-control {
  margin-top: 5px;
  width: 25px;
}

.btn {
  margin: 5px;
}
.weather {
  margin-top: 5px;
}

#weather-description {
  text-transform: capitalize;
}
